In [27]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.7/spark-2.4.7-bin-hadoop2.7.tgz
!tar xf spark-2.4.7-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.7-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [28]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-10-09 01:56:59--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.1’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.06MB/s    in 0.2s

2020-10-09 01:57:00 (5.06 MB/s) - ‘postgresql-42.2.9.jar.1’ saved [914037/914037]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
from pyspark import SparkFiles
# Load in employee.csv from S3 into a DataFrame
grouped_platforms = "https://dbproj3.s3.us-east-2.amazonaws.com/grouped_platforms.csv"
genre = "https://dbproj3.s3.us-east-2.amazonaws.com/grouped_years_genres.csv"
grouped_years_mean = "https://dbproj3.s3.us-east-2.amazonaws.com/grouped_years_mean.csv"
grouped_years_platforms_names = "https://dbproj3.s3.us-east-2.amazonaws.com/grouped_years_platforms_names.csv"
whatoplay_data = "https://dbproj3.s3.us-east-2.amazonaws.com/whatoplay_data.csv"

spark.sparkContext.addFile(grouped_platforms)
spark.sparkContext.addFile(genre)
spark.sparkContext.addFile(grouped_years_mean)
spark.sparkContext.addFile(grouped_years_platforms_names)
spark.sparkContext.addFile(whatoplay_data)


grouped_platforms_df = spark.read.option('header', 'true').csv(SparkFiles.get("grouped_platforms.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")
grouped_years_genres_df = spark.read.option('header', 'true').csv(SparkFiles.get("grouped_years_genres.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")
grouped_years_mean_df = spark.read.option('header', 'true').csv(SparkFiles.get("grouped_years_mean.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")
grouped_years_platforms_names_df = spark.read.option('header', 'true').csv(SparkFiles.get("grouped_years_platforms_names.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")
whatoplay_data_df = spark.read.option('header', 'true').csv(SparkFiles.get("whatoplay_data.csv"), inferSchema=True, sep=',', timestampFormat="mm/dd/yy")

## Examine the schema

In [21]:
grouped_platforms_df.printSchema()
grouped_years_genres_df.printSchema()
grouped_years_mean_df.printSchema()
grouped_years_platforms_names_df.printSchema()
whatoplay_data_df.printSchema()

root
 |-- Platform: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Rank: integer (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

root
 |-- Year: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Rank: integer (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

root
 |-- Year: integer (nullable = true)
 |-- Rank: double (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Rank: integer (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Platform: string (nullable = true)
 |-- Year_of_Release: integer (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- NA_Sales: double (nullable = true)
 |-- EU_Sales: double (nullable = true)
 |-- JP_Sales: double (nullable = true)
 |-- Other_Sales: double (nullable = true)
 |-- Global_Sales: double (nullable = true)
 |-- Critic_Score: integer (nullable = true)
 |-- Critic_Count: integer (nullable = true)
 |-- User_Score: double (nullable = true)
 |-- User_Count: integer (nullable = true)
 |-- Developer: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- PlayScore: double (nullable = true)
 |-- GameScore: double (nullable = true)
 |-- CriticScore: double (nullable = true)

## Write DataFrame to RDS

In [19]:
mode="append"
jdbc_url = "jdbc:postgresql://dbproj3.cuxtxx9etluh.us-east-2.rds.amazonaws.com:5432/postgres"
config = {"user":"postgres",
          "password": "postgres",
          "driver":"org.postgresql.Driver"}

In [22]:
grouped_platforms_df.show(10)

+--------+----+------+------------------+------------------+--------+--------------------+------------------+
|Platform|Year|  Rank|          NA_Sales|          EU_Sales|JP_Sales|         Other_Sales|      Global_Sales|
+--------+----+------+------------------+------------------+--------+--------------------+------------------+
|    2600|1980| 29826|10.590000000000003|0.6700000000000002|     0.0| 0.11999999999999998|11.379999999999999|
|    2600|1981|190488|              33.4|1.9600000000000006|     0.0|  0.3200000000000001| 35.77000000000001|
|    2600|1982|149186|26.920000000000005|1.6500000000000008|     0.0| 0.31000000000000016|28.859999999999996|
|    2600|1983| 49355| 5.440000000000001|0.3400000000000001|     0.0|0.060000000000000005|              5.83|
|    2600|1984|  6298|              0.26|              0.01|     0.0|                 0.0|              0.27|
|    2600|1985|  4339|              0.42|              0.03|     0.0|                 0.0|              0.45|
|    2600|1986| 11042|0.6300000000000001|              0.04|     0.0|                 0.0|0.6599999999999999|
|    2600|1987| 41765|              1.84|              0.09|     0.0|                0.01|1.9800000000000002|
|    2600|1988| 10883|0.6900000000000001|              0.04|     0.0|                0.01|              0.75|
|    2600|1989| 12908|0.5900000000000001|              0.03|     0.0|                0.01|              0.62|
+--------+----+------+------------------+------------------+--------+--------------------+------------------+
only showing top 10 rows

In [23]:
grouped_years_genres_df.show(10)

+----+--------+------+--------+--------+--------+-----------+------------+
|Year|   Genre|  Rank|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|
+----+--------+------+--------+--------+--------+-----------+------------+
|1980|  Action|  5368|    0.32|    0.02|     0.0|        0.0|        0.34|
|1980|Fighting|  2671|    0.72|    0.04|     0.0|       0.01|        0.77|
|1980|    Misc| 16956|    2.53|    0.15|     0.0|       0.02|        2.71|
|1980| Shooter|   804|    6.56|    0.43|     0.0|       0.08|        7.07|
|1980|  Sports|  4027|    0.46|    0.03|     0.0|       0.01|        0.49|
|1981|  Action|111447|   13.86|    0.81|     0.0|       0.12|       14.84|
|1981|Platform|  3693|    6.47|    0.37|     0.0|       0.08|        6.93|
|1981|  Puzzle|  4513|    2.09|    0.13|     0.0|       0.03|        2.24|
|1981|  Racing|  4141|    0.45|    0.03|     0.0|        0.0|        0.48|
|1981| Shooter| 31031|    9.37|    0.56|     0.0|       0.09|       10.04|
+----+--------+------+--------+--------+--------+-----------+------------+
only showing top 10 rows

In [24]:
grouped_years_mean_df.show(10)

+----+------------------+-------------------+-------------------+------------------+--------------------+------------------+
|Year|              Rank|           NA_Sales|           EU_Sales|          JP_Sales|         Other_Sales|      Global_Sales|
+----+------------------+-------------------+-------------------+------------------+--------------------+------------------+
|1980|            3314.0|  1.176666666666667|0.07444444444444447|               0.0| 0.01333333333333333|1.2644444444444443|
|1981|  4141.04347826087|  0.726086956521739|0.04260869565217393|               0.0|0.006956521739130438|0.7776086956521742|
|1982| 4144.055555555556| 0.7477777777777779|0.04583333333333336|               0.0|0.008611111111111116|0.8016666666666665|
|1983| 3338.764705882353|0.45647058823529413|0.04705882352941178|0.4764705882352941|0.008235294117647058|0.9876470588235295|
|1984|            1636.5| 2.3771428571428572|0.14999999999999997|1.0192857142857141| 0.05000000000000001|3.5971428571428583|
|1985|3964.6428571428573| 2.4092857142857143| 0.3385714285714286|              1.04| 0.06571428571428573| 3.852857142857143|
|1986|1713.6190476190477| 0.5952380952380952|0.13523809523809527|0.9433333333333332|  0.0919047619047619|1.7652380952380953|
|1987|         3418.8125| 0.5287500000000002|0.08812500000000001|          0.726875|0.012500000000000002|1.3587499999999997|
|1988| 2478.733333333333| 1.5913333333333333| 0.4393333333333334|1.0506666666666666|               0.066|             3.148|
|1989|2362.1176470588234| 2.6558823529411764| 0.4964705882352941|              1.08| 0.08823529411764708| 4.320588235294117|
+----+------------------+-------------------+-------------------+------------------+--------------------+------------------+
only showing top 10 rows

In [25]:
grouped_years_platforms_names_df.show(10)

+--------------------+--------+----+----+--------+--------+--------+-----------+-------------------+
|                Name|Platform|Year|Rank|NA_Sales|EU_Sales|JP_Sales|Other_Sales|       Global_Sales|
+--------------------+--------+----+----+--------+--------+--------+-----------+-------------------+
|         '98 Koshien|      PS|1998|4756|    0.15|     0.1|    0.12|       0.03|0.41000000000000003|
|.hack//G.U. Vol.1...|     PS2|2006|8359|     0.0|     0.0|    0.17|        0.0|               0.17|
|.hack//G.U. Vol.2...|     PS2|2006|7109|    0.11|    0.09|     0.0|       0.03|               0.23|
|.hack//G.U. Vol.2...|     PS2|2006|8604|     0.0|     0.0|    0.16|        0.0|               0.16|
|.hack//G.U. Vol.3...|     PS2|2007|8306|     0.0|     0.0|    0.17|        0.0|               0.17|
|.hack//Infection ...|     PS2|2002|1565|    0.49|    0.38|    0.26|       0.13|               1.27|
|         .hack//Link|     PSP|2010|9076|     0.0|     0.0|    0.14|        0.0|               0.14|
|.hack//Mutation P...|     PS2|2002|3004|    0.23|    0.18|     0.2|       0.06|               0.68|
|.hack//Outbreak P...|     PS2|2002|4296|    0.14|    0.11|    0.17|       0.04|               0.46|
|.hack//Quarantine...|     PS2|2003|8009|    0.09|    0.07|     0.0|       0.02|               0.18|
+--------------------+--------+----+----+--------+--------+--------+-----------+-------------------+
only showing top 10 rows

In [26]:
whatoplay_data_df.show(10)

+--------------------+--------+---------------+--------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+--------------------+------+---------+---------+-----------+
|                Name|Platform|Year_of_Release|   Genre|           Publisher|NA_Sales|EU_Sales|JP_Sales|Other_Sales|Global_Sales|Critic_Score|Critic_Count|User_Score|User_Count|           Developer|Rating|PlayScore|GameScore|CriticScore|
+--------------------+--------+---------------+--------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+--------------------+------+---------+---------+-----------+
|  Grand Theft Auto V|     PS3|           2013|  Action|Take-Two Interactive|    7.02|    9.09|    0.98|       3.96|       21.04|          97|          50|       8.2|      3994|      Rockstar North|     M|     9.29|     9.34|       9.24|
|Call of Duty: Bla...|     PS3|           2012| Shooter|          Activision|    4.99|    5.73|    0.65|       2.42|       13.79|          83|          21|       5.3|       922|            Treyarch|     M|     7.73|     7.52|       7.95|
|Call of Duty: Mod...|     PS3|           2011| Shooter|          Activision|    5.54|    5.73|    0.49|       1.57|       13.32|          88|          39|       3.2|      5234|Infinity Ward, Sl...|     M|      8.0|     7.56|       8.44|
|        Mario Kart 7|     3DS|           2011|  Racing|            Nintendo|    5.03|    4.02|    2.69|       0.91|       12.66|          85|          73|       8.2|       632|Retro Studios, En...|     E|     9.09|     9.77|       8.41|
|Call of Duty: Bla...|     PS3|           2010| Shooter|          Activision|    5.99|    4.37|    0.48|       1.79|       12.63|          88|          58|       6.4|      1094|            Treyarch|     M|     8.16|     7.91|       8.41|
|  Grand Theft Auto V|     PS4|           2014|  Action|Take-Two Interactive|    3.96|    6.31|    0.38|       1.97|       12.61|          97|          66|       8.3|      2899|      Rockstar North|     M|     9.32|     9.29|       9.35|
| Super Mario 3D Land|     3DS|           2011|Platform|            Nintendo|    4.89|     3.0|    2.14|       0.78|       10.81|          90|          82|       8.4|       921|            Nintendo|     E|     9.22|     9.76|       8.67|
|      Gran Turismo 5|     PS3|           2010|  Racing|Sony Computer Ent...|    2.96|    4.82|    0.81|       2.11|        10.7|          84|          82|       7.5|      1112|   Polyphony Digital|     E|     8.22|     8.11|       8.32|
|Call of Duty: Mod...|     PS3|           2009| Shooter|          Activision|    4.99|    3.64|    0.38|        1.6|        10.6|          94|          67|       6.3|      2073|       Infinity Ward|     M|     8.65|     8.53|       8.78|
| Grand Theft Auto IV|     PS3|           2008|  Action|Take-Two Interactive|    4.76|    3.69|    0.44|       1.61|        10.5|          98|          64|       7.5|      2833|      Rockstar North|     M|     8.93|     8.88|       8.98|
+--------------------+--------+---------------+--------+--------------------+--------+--------+--------+-----------+------------+------------+------------+----------+----------+--------------------+------+---------+---------+-----------+
only showing top 10 rows

In [20]:
# Write DataFrame to table
grouped_platforms_df.write.jdbc(url=jdbc_url, table='grouped_platforms', mode=mode, properties=config)
grouped_years_genres_df.write.jdbc(url=jdbc_url, table='grouped_years_genres_df', mode=mode, properties=config)
grouped_years_mean_df.write.jdbc(url=jdbc_url, table='grouped_years_mean_df', mode=mode, properties=config)
grouped_years_platforms_names_df.write.jdbc(url=jdbc_url, table='grouped_years_platforms_names_df', mode=mode, properties=config)
whatoplay_data_df.write.jdbc(url=jdbc_url, table='whatoplay_data_df', mode=mode, properties=config)

In [29]:
grouped_platforms_df.write.jdbc(url=jdbc_url, table='grouped_platforms', mode=mode, properties=config)